@import "./reset.css";

/* base / proyecto */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 100vh;
}

button {
  background: none;
  border: none;
}

/* objets */

/* 
SELECTOR_1,
SELECTOR_N {
    PROPERTIES : VALUE;
    ALTURA : VALUE;
    ANCHO : VALUE;
    COLOR : VALUE;
    COOLOR_FONDO : VALUE;
    TIPOGRAFIA : VALUE;
    ANIMACIONES : VALUE;
    POSICIÓN : VALUE;
    ...
}

* class
.<value class>
.app-header {...}

* id
#<value id>
#app {}

* elementHTML
img {...}

* [attributes],
[href] {...}
[title] {...}

* [attributes="value"]
[data="gris"] {...}

* States
<elemento | attribute | class | id>:active 



*/

.app-wrapper {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 17px;
  padding-right: 17px;
}

.app-header {
  min-height: 68px;
  box-shadow: 0px 8px 14px -7px rgb(137 137 137 / 35%);
  padding: 0.5rem;
}

.app-title {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.app-title hr {
  width: 100%;
  border-color: greenyellow;
  border-style: solid;
  background-color: greenyellow;
}

/* components */

.c-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 7px;
  padding: 0.2rem 0.5rem;
  min-height: 2rem;
  background-color: greenyellow;
  color: inherit;

  cursor: pointer;
  text-transform: uppercase;
  border-radius: 6px;
  font-size: 0.7rem;
}

.c-content-ghost {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  gap: 1rem;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: inherit;
}

.header-logo {
  /* background-color: tomato; */
}
.header-menu {
  padding: 17px 0;
  display: flex;
  gap: 24px;
  align-items: center;
}
.header-menu_link {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

/* states */

.header-menu_link:hover {
  box-shadow: 0 2px 0 0 gold;
  color: gold;
}

/* specificity */

@media screen and (max-width: 37.5em) {
  .header-wrapper {
    flex-direction: column;
  }
  .header-menu {
    padding: 0;
  }
  .header-logo {
    font-size: 0.7em;
  }
}
